<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.example.correctionpatient.entity.Patient" />
        <mapping class="com.example.correctionpatient.entity.Consultation" />
        <mapping class="com.example.correctionpatient.entity.Prescription" />
        <mapping class="com.example.correctionpatient.entity.FicheSoins" />
    </session-factory>
</hibernate-configuration>
