<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="employeeService" class="com.m2i.cda.lille.service.impl.EmployeeServiceImpl">

  </bean>

    <bean class="com.m2i.cda.lille.contoller.EmployeeController">
        <property name="employeeService" ref="employeeService"/>
    </bean>

</beans>