<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <th:block th:insert="~{fragments/base.html :: head}"/>
</head>
<body>
<form class="container" th:action="@{/user/signup}" method="post">
    <div th:if="${message != null}" class="col-6 justify-content-center m-1">
        <div class="alert alert-danger">
            <div th:text="${message}"></div>
        </div>
    </div>
    <div class="col-6 justify-content-center m-1">
        <input type="text" name="firstName" placeholder="Votre prénom" class="form-control p-1">
    </div>
    <div class="col-6 justify-content-center m-1">
        <input type="text" name="lastName" placeholder="Votre nom" class="form-control p-1">
    </div>
    <div class="col-6 justify-content-center m-1">
        <input type="text" name="email" placeholder="Votre email" class="form-control p-1">
    </div>
    <div class="col-6 justify-content-center m-1">
        <input type="password" name="password" placeholder="Votre mot de passe" class="form-control p-1">
    </div>
    <div class="col-6 justify-content-center m-1">
        <button class="btn btn-primary p-1">Sign In</button>
    </div>
</form>
</body>
</html>